  
  body, div, a, span, ul, li, input, textarea, button {
    font-size: 21px;
    font-family: 'Roboto', 'Chelsea Market', sans-serif;
  }
  body {
    width: 100%;
    overflow: hidden;
  }
  .div {
    padding: 1%;
    margin-left: 24%;
    min-width: 50%;
    width: 50%;
    max-width: 50%;
    list-style: none;
    margin-bottom: 2px;
  }
  .div > li {
    list-style: none;
    outline: 0;
    border: 1px solid #fff;
    margin-bottom: 1px;
  }
  .div > li:focus {
    border-bottom: 1px dotted #ccc;
    outline: 0;
  }
  .div > li:active {
    border-bottom: 1px dotted #ccc;
    outline: 0;
  }
  .div_25 {
    font-style: italic;
    color: #999;
    width: 25%;
    padding: 1%;
    padding-left: 10px;
    /*border-radius: 10px;*/
    list-style: none;
  }.div_25:hover {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
  }
  .div_25:active {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    outline: none;
  }
  
  .div_25:focus {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    outline: none;
  }
  .text-area {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    outline: 1px dotted #ccc;
    resize: none; 
  }
  #new_text {
    margin-left: 24%;
    font-style: italic;
    color: #999;
    width: 25%;
    padding: 1%;
    padding-left: 10px;
    /*border-radius: 10px;*/
    list-style: none;
  }
  #new_text:hover {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
  }
  #new_text:focus {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    outline: none;
  }
  #new_text:active {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    outline: none;
  }
  .tooltipElem {
    position: absolute;
    background: rgba(255,255,255,0.7);
    z-Index: 9;
    max-width: 24%;
    width: 24%;
    text-align: right;
    overflow: hidden;
    left: 1%;
    padding: 5px;
    display: inline-block;
    color: #999;
    font-style: italic;
    list-style: none;
  }
  .tooltipElem:hover {
    color: #fff;
    background: rgba(224,224,224,0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5), -1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5), 2px 2px 2px rgba(253,253,253,0.5);
  }
  .tooltipElem:active {
    color: #fff;
    background: rgba(224,224,224,0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5), -1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5), 2px 2px 2px rgba(253,253,253,0.5);
  } 
  .tooltipElem:focus {
    color: #fff;
    background: rgba(224,224,224,0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5), -1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5), 2px 2px 2px rgba(253,253,253,0.5);
  } 
  #menu_button {
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
    width: 5%;
    display: block;
    vertical-align: middle;
    max-width: 48px;
    height: 5%;
    max-height: 44px;
    border: 0px;
    border-radius: 3px;
    padding: 0;
    font-size: 1px;
    text-align: center;
    background: rgba(254,254,255,0.95);
    box-shadow: -1px -1px 1px rgba(51,51,51,0.5),-1px 1px 1px rgba(51,51,51,0.5),
                1px -1px 1px rgba(51,51,51,0.5),2px 2px 2px rgba(51,51,51,0.5);
  }
  .menu-bar {
    height: 2px;
    font-size: 1px;
    width: 60%;
    max-width: 32px;
    border-radius: 2px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #999;
    box-shadow: -1px -1px 1px rgba(51,51,51,0.5),-1px 1px 1px rgba(51,51,51,0.5),
                1px -1px 1px rgba(51,51,51,0.5),2px 2px 2px rgba(51,51,51,0.5);
  }
  #menu_div {
    z-index: 10;
    position: fixed;
    bottom: 3%;
    right: 3%;
    padding: 0;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    min-width: 175px;
    width: 22%;
    max-width: 22%;
    border: 0px;
    border-radius: 10px;
    background: rgba(254,254,255,0.95);
    box-shadow: -1px -1px 1px rgba(51,51,51,0.5),-1px 1px 1px rgba(51,51,51,0.5),
                1px -1px 1px rgba(51,51,51,0.5),2px 2px 2px rgba(51,51,51,0.5);
    display: none;
    overflow: hidden;
  }
  #menu_div > ul {
    list-style: none; 
    margin: 0;
  }
  #menu_div > ul > a > li {
    padding: 4%;
    padding-left: 15px;
    margin-left: -40px;
    font-style: italic;
    color: #999;
    /*text-shadow: 1px 1px 2px #000, -1px 1px 1px #bbb, 1px -1px 1px #bbb, -1px -1px #fff;*/
  }
  #menu_div > ul > a > li:hover {
    color: #eee;
    background: rgba(224,224,224, 0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
  }
  #menu_persons {
    position: absolute;
    left: -1%;
    top: 0;
    width: 24%;
    max-width: 24%;
    display: none;
  }
  #menu_persons > ul {
    list-style: none; 
    margin: 0;
  }
  #menu_persons > ul > li {
    padding: 4%;
    padding-left: 15px;
    margin-left: -40px;
    font-style: italic;
    color: #999;
    /*text-shadow: 1px 1px 2px #000, -1px 1px 1px #bbb, 1px -1px 1px #bbb, -1px -1px #fff;*/
  }
  #menu_persons > ul > li:hover {
    color: #fff;
    background: rgba(224,224,224, 0.7);
    box-shadow: -1px -1px 1px rgba(253,253,253,0.5),-1px 1px 1px rgba(253,253,253,0.5),
                1px -1px 1px rgba(253,253,253,0.5),2px 2px 2px rgba(253,253,253,0.5);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: rgba(224,224,224, 0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
  }
  a:active {
    text-decoration: none;
    color: rgba(224,224,224, 0.7);
    text-shadow: -1px -1px #000, -1px 1px 1px #666, 1px -1px 1px #666, 1px 1px 2px #fff;
  }
